/* 基本設定 */
* {
    box-sizing: border-box; /* 讓 padding 不會撐大寬度 */
}

.main-body {
    background-color: #54534d;
    margin: 0;
    color: aliceblue;
    min-height: 100vh;
}
.custom-navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all;
    transition-duration: 300ms;
}
.nav-container{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: space-between;
    height: 80px;
    padding: 20px 0px;
}
.nav-container div{
    max-width: 1200px;
}
.nav-name{
    display: flex;
    font-weight: bold;
    text-decoration: none;
    color: azure;
    font-size: 30px;
    transition: all 0.3s ease;
}
.nav-name:hover{
    transform: scale(1.2);
}
.nav-menu{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-item{
    gap: 8px;
    display: flex;
    margin: auto;
    text-decoration: none;
    color: azure;
    font-size: 18px;
    font-weight: 100;
    transition:  0.3s cubic-bezier(0.34, 1.2, 0.64, 1), color 0.3s ease;
}
.nav-icon{
    width: 20px; 
    height: 20px;
    fill: none;
    stroke: currentColor;
    stroke-width: 2px; 
    stroke-linecap: round; 
    stroke-linejoin: round; 
}
.nav-item:hover{
    transform: translateY(-5px);

}
.icon{
    stroke: currentColor;
    transition: all 0.3s ease;
}
.container{
    padding-top: 100px;
    max-width: 1200px;
    margin: 0;
}