.div1{
    position: absolute;
    top: 50px;
    left: 50px;
}
.div2{
    position: absolute;
    top: 600px;
    left: 50px;
}
.div3{
    position: absolute;
    top: 100px;
    left: 1500px;
}
.instagram_text{
    position: absolute;
    top: 25px;
    left: 140px;
    font: bold;
    font-size: 30px;
    color: aliceblue;
    margin: 0px;
}
.github_text{
    position: absolute;
    top: 110px;
    left: 150px;
    font: bold;
    font-size: 30px;
    color: aliceblue;
    margin: 0px;
}
.gmail_text{
    position: absolute;
    top: 195px;
    left: 155px;
    font: bold;
    font-size: 30px;
    color: aliceblue;
    margin: 0px;
}

h2{
    color:black;
    font-size: 50px;
}